body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.header {
    height: 72px;
    background-color: darkmagenta;
    color: white;

    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 32px;
    font-weight: 900;
}

.footer {
    height: 72px;
    background-color: #eee;
    color: darkmagenta;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar {
    width:300px;
    background-color: royalblue;
    width: 300px;
    padding: 16px;
}

.card {
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .06);
    padding: 10px;
    margin: 10px;
    width: 300px;
}

.container {
    flex: 1;
    display: flex;
}

ul{
    /*  remove bullets from ul lists */ 
  list-style-type: none;
}

a {
  color: white;
  /* this removes the line under our links */
  text-decoration: none;
}

.box {
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
}
