body {
    font-family: 'Courier New', Courier, monospace;
}

img {
    width: 100px;
    height: 100px;

}

.title {
    font-size: 36px;
    font-weight: 900px;
    margin-bottom: 32px;
}


.container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info{
    width: 200px;
}

