.header {
    font-family: monospace;
    background-color: papayawhip;

    display: flex;
    justify-content: space-between; /*main axis */
    /* added for left-links and right-links can be stay in the center*/
    align-items: center; /*cross axis*/
}

.logo {
    font-size: 48px;
    font-weight: 900;
    color: tomato;
    background-color: white;
    padding: 4px 32px;

    margin: 10px;
}

a {
    font-size: 22px;
    background-color: white;
    padding: 8px;

    /* this removes the line under the links */
    text-decoration: none;
}

ul {
    margin: 10px;
    padding: 10px;
    /* added display:flex for the horizontally. */
    display: flex;
    gap: 10px;

    /* this removes the dots on the list items*/
    list-style-type: none;
}