
body {
    margin: 0px;
    background-color: #eee;
    font-family: Besley, serif;

}

.header {
    background-color: white;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 8px rgba(0,0,0,.1);

    display: flex;
    /* 8px space between everything and the edge of the header. */
    padding: 8px;
    justify-content: space-between;
}

.profile-image {
    background-color: rebeccapurple;
    box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
    border-radius: 50%;
    width: 48px;
    height: 48px;

}

.logo {
    color: rebeccapurple;
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
    
}

button {
    border: none;
    border-radius: 8px;
    background-color: rebeccapurple;
    color: white;
    padding: 8px 24px;

}

a {
    /* this removes the line under our links */
    text-decoration: none;
    color: rebeccapurple;
}


ul{
    list-style-type: none;

    display: flex;
    gap: 16px;
}

.push {
    margin-left: auto;
    display: flex;
    gap: 8px;
}

.notifications {
    padding: 16px;
    margin: 8px;
}

.profile-image{
    margin: 8px;
}